body{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    
}
form{
    width: 500px;
    margin: 20px 290px 20px;
    padding: 20px;
    border-radius: 40px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
form h3{
    margin-right: 80px;
    text-align: center;
 
}
form input:hover{
    background-color: deepskyblue;
    color:white;
    border: 2px solid navy;
}
form label,input{
    display: flex;
    font-family: 'Times New Roman';
    border-radius: 20px;
    width: 250px;
    height: 20px;
    margin-bottom: 10px;
    margin: 20px 80px 20px;
}
form button{
    margin: 20px 40px 20px;
    width: 75%;
    height: 30px;
    font-weight: bold;
    border-style: none;
    border-radius: 10px;
    background-color: lightblue;
    box-shadow: 10px 5px 10px;
 }
     
 