<!-- breeds/templates/api2.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Breeds</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Dog Breeds</h1>
    <table>
        <thead>
            <tr>
                <th>Breed</th>
                <th>Subbreeds</th>
            </tr>
        </thead>
        <tbody>
            {% for breed, subbreeds in info.items %}
            
                    {% if subbreeds %}
                    <tr>
                        <td>{{ breed }}</td>
                        <td>
                    <ul>
                        {% for subbreed in subbreeds %}
                        <li>{{ subbreed }}</li>
                        {% endfor %}
                    </ul>
                      
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
